@page "/kulijob/scheduler"
@using KuliJob;
@inject IJobScheduler jobScheduler;

@functions {
    public async Task<IActionResult> OnPostScheduleJobAsync()
    {
        await jobScheduler.ScheduleJobNow("notify_job", new()
        {
            {"msg", "My message"},
        });
        return RedirectToPage();
    }
}

@{
    ViewData["Title"] = "Scheduler";
}

<h3>Scheduler</h3>

<form method="post">
    <button asp-page-handler="ScheduleJob" class="btn btn-primary">Schedule Job</button>
</form>
